In [1]:
import pandas as pd
import numpy as np

In [2]:
# Question 1 : Read the downloaded CSV file 
df = pd.read_csv('https://earthquake.usgs.gov/fdsnws/event/1/query.csv?starttime=2000-01-01%2000:00:00&endtime=2024-02-15%2000:00:00&minmagnitude=2.5&orderby=time&producttype=losspager')
pd.options.display.max_columns = 25

In [3]:
df['time'] = pd.to_datetime(df['time'])
df.set_index('time',inplace=True)

In [4]:
# Questions 2 : How many seismic events take place each year
filt = df['type'] == 'earthquake'
df.loc[filt].resample('YS')['type'].value_counts().head(25).sort_values(ascending=False)

time                       type
2021-01-01 00:00:00+00:00  earthquake    1029
2020-01-01 00:00:00+00:00  earthquake     932
2019-01-01 00:00:00+00:00  earthquake     848
2023-01-01 00:00:00+00:00  earthquake     833
2018-01-01 00:00:00+00:00  earthquake     816
2022-01-01 00:00:00+00:00  earthquake     778
2014-01-01 00:00:00+00:00  earthquake     760
2015-01-01 00:00:00+00:00  earthquake     695
2016-01-01 00:00:00+00:00  earthquake     680
2013-01-01 00:00:00+00:00  earthquake     611
2017-01-01 00:00:00+00:00  earthquake     594
2024-01-01 00:00:00+00:00  earthquake     100
2010-01-01 00:00:00+00:00  earthquake      57
2012-01-01 00:00:00+00:00  earthquake      20
2008-01-01 00:00:00+00:00  earthquake      19
2009-01-01 00:00:00+00:00  earthquake      18
2005-01-01 00:00:00+00:00  earthquake      17
2001-01-01 00:00:00+00:00  earthquake      15
2011-01-01 00:00:00+00:00  earthquake      13
2003-01-01 00:00:00+00:00  earthquake      11
2002-01-01 00:00:00+00:00  earthquake      11
2004-01-01 00:00:00+00:00  earthquake       8
2000-01-01 00:00:00+00:00  earthquake       8
2006-01-01 00:00:00+00:00  earthquake       5
2007-01-01 00:00:00+00:00  earthquake       3
Name: count, dtype: int64

In [5]:
# Question 3 : What are common magnitudes? 
df['mag'].astype(np.int8).value_counts()

mag
5    5138
4    1695
6    1383
3     511
7     151
8      12
2       9
Name: count, dtype: int64

In [6]:
# Question 4 : How many seismic events took place in Turkey on February 6th? What was their average magnitude? What was the mean magnitude?
# I Never Answerted this question the below answer, i was only able to get after looking at the answer. I was too busy trying to solve the next question
df.loc['2023-02-06'].loc[df.loc['2023-02-06']['place'].str.contains('Turkey')]['mag'].median()#.mean()

5.7

In [7]:
'''
MY OLD ANSWER
def get_comma(x:str):
    if ',' in x:
        splitted = x.split(',')
        return splitted[len(splitted) - 1]
    else:
        return x
df['place'] = df['place'].apply(get_comma)

quackfilt = df['type'] == 'earthquake'
dfgroup = df.groupby(by=df['place'])
dfgroup['place'].value_counts()

'''
# Question 5 : Are earthquakes common in Turkey? extract the text following the final comma, and get the 30 most common places
# Note this is not my answer as well, HOWEVER even though my answer was CRAZY it was STILL CORRECT
df['place'].str.split(',').apply(lambda x:x[-1]).value_counts()

place
 Alaska                   952
 Indonesia                575
 CA                       445
 Papua New Guinea         408
 Japan                    300
                         ...
 WA                         1
 U.S. Virgin Islands        1
northwest of Australia      1
 Guyana                     1
 Indiana                    1
Name: count, Length: 305, dtype: int64

In [9]:
mag5 = (df['mag'] <= 5)
df = df.drop(index=df.loc[mag5].index)  
df['place'].str.split(',').apply(lambda x:x[-1]).value_counts()

place
 Indonesia                                               566
 Papua New Guinea                                        405
 Chile                                                   294
 Japan                                                   294
 Philippines                                             269
                                                        ...
off the east coast of the North Island of New Zealand      1
 Namibia                                                   1
Galapagos Triple Junction region                           1
 Japan Earthquake                                          1
 Illinois                                                  1
Name: count, Length: 262, dtype: int64