In [1]:
import pandas as pd 
import numpy as np

In [2]:
year = 2019
dframes = []
for i in range(6):
    dframes.append(pd.read_html(f'https://marketnews.usda.gov/mnp/py-report?&repDate=01%2F01%2F{year}&regionsDesc=&endDate=12%2F31%2F{year}&repMonth=1&run=Run&_producttypefrom=1&endYear=2023&producttypefrom=&repYear=2020&categoryDesc=Egg&frequency=Daily&datatype=None+Selected&previouscls=Breaking+Stock&_producttype=1&report=NW_PY041&category=Egg&subcategory=Breaking+Stock&endMonth=1&commodityDesc=Breaking+Stock&runReport=true&format=excel' ))
    year += 1

In [3]:
# Question 1 : create a single data frame.
df = dframes[0][0]
for i in range(6):
    df = pd.concat([df, dframes[i][0]])
df['Date'] = pd.to_datetime(df['Date'])
df.set_index('Date',inplace=True)
df

,Region,Egg Class,Market Name,Delivery Name,Price Unit,Low Price,High Price,Mostly Low,Mostly High
Date,,,,,,,,,
2019-01-02,CENTRAL STATES,BREAKING STOCK,CENTRAL STATES,DELIVERED TO BREAKERS,CENTS PER DOZEN,37.0,52,37.0,40.0
2019-01-02,CENTRAL STATES,CHECKS,CENTRAL STATES,DELIVERED TO BREAKERS,CENTS PER DOZEN,28.0,36,31.0,36.0
2019-01-03,CENTRAL STATES,CHECKS,CENTRAL STATES,DELIVERED TO BREAKERS,CENTS PER DOZEN,26.0,34,29.0,34.0
2019-01-03,CENTRAL STATES,BREAKING STOCK,CENTRAL STATES,DELIVERED TO BREAKERS,CENTS PER DOZEN,37.0,52,37.0,40.0
2019-01-04,CENTRAL STATES,CHECKS,CENTRAL STATES,DELIVERED TO BREAKERS,CENTS PER DOZEN,22.0,30,25.0,30.0
...,...,...,...,...,...,...,...,...,...
2024-06-04,CENTRAL STATES,CHECKS,CENTRAL STATES,DELIVERED TO BREAKERS,CENTS PER DOZEN,108.0,118,108.0,110.0
2024-06-05,CENTRAL STATES,CHECKS,CENTRAL STATES,DELIVERED TO BREAKERS,CENTS PER DOZEN,110.0,120,110.0,112.0
2024-06-05,CENTRAL STATES,BREAKING STOCK,CENTRAL STATES,DELIVERED TO BREAKERS,CENTS PER DOZEN,124.0,135,NaN,NaN
2024-06-06,CENTRAL STATES,CHECKS,CENTRAL STATES,DELIVERED TO BREAKERS,CENTS PER DOZEN,115.0,125,115.0,117.0
2024-06-06,CENTRAL STATES,BREAKING STOCK,CENTRAL STATES,DELIVERED TO BREAKERS,CENTS PER DOZEN,127.0,170,NaN,NaN

In [4]:
# Question 2 : What was the average low price for eggs in each of the years of data?
df.resample('YS')['Low Price'].mean()

Date
2019-01-01     27.268000
2020-01-01     32.950199
2021-01-01     49.072000
2022-01-01    188.148000
2023-01-01    117.124498
2024-01-01    127.438636
Freq: YS-JAN, Name: Low Price, dtype: float64

In [5]:
# Question 3 : In what year was the percentage increase the greatest?
df.resample('YS')['Low Price'].mean().pct_change().dropna().apply(lambda x:x*100).apply(lambda x:np.int64(x))

Date
2020-01-01     20
2021-01-01     48
2022-01-01    283
2023-01-01    -37
2024-01-01      8
Freq: YS-JAN, Name: Low Price, dtype: int64

In [6]:
# Question 4 : get the average low price for eggs in each month and year of data.
df['Low Price'].resample('MS').mean().head(50)

Date
2019-01-01     28.000000
2019-02-01     29.868421
2019-03-01     17.619048
2019-04-01     20.613636
2019-05-01     10.500000
2019-06-01     12.075000
2019-07-01     11.590909
2019-08-01     26.272727
2019-09-01     35.075000
2019-10-01     33.590909
2019-11-01     65.078947
2019-12-01     42.775000
2020-01-01     17.666667
2020-02-01     19.105263
2020-03-01     50.863636
2020-04-01     18.590909
2020-05-01     19.000000
2020-06-01     27.318182
2020-07-01     22.318182
2020-08-01     27.166667
2020-09-01     40.642857
2020-10-01     63.238095
2020-11-01     60.763158
2020-12-01     30.000000
2021-01-01     28.657895
2021-02-01     37.263158
2021-03-01     59.565217
2021-04-01     48.318182
2021-05-01     43.375000
2021-06-01     42.295455
2021-07-01     42.261905
2021-08-01     53.909091
2021-09-01     59.714286
2021-10-01     53.275000
2021-11-01     53.350000
2021-12-01     63.071429
2022-01-01     67.400000
2022-02-01     74.368421
2022-03-01    114.173913
2022-04-01    222.309524
2022-05-01    198.214286
2022-06-01    168.857143
2022-07-01    214.550000
2022-08-01    164.543478
2022-09-01    201.238095
2022-10-01    249.300000
2022-11-01    256.300000
2022-12-01    326.642857
2023-01-01    225.050000
2023-02-01    187.263158
Freq: MS, Name: Low Price, dtype: float64

In [7]:
# Question 5 : Have egg prices gone down in the last few months?
df['Low Price'].resample('MS').mean().sort_index(ascending=False).head(6)

Date
2024-06-01    116.000000
2024-05-01     99.806818
2024-04-01    144.681818
2024-03-01    143.619048
2024-02-01    146.525000
2024-01-01    106.142857
Freq: -1MS, Name: Low Price, dtype: float64