In [192]:
import pandas as pd

In [193]:
df = pd.read_excel('CPI2022_GlobalResultsTrends.xlsx')
df12_22 = pd.read_excel('CPI2022_GlobalResultsTrends.xlsx',sheet_name='CPI Timeseries 2012 - 2022')

In [194]:
df.columns = df.loc[1]
df.drop([0,1],inplace=True)
df.reset_index(inplace=True)
pd.options.display.max_columns = 25
pd.options.display.max_rows = 30

In [202]:
# Question 1: what five countries were least corrupt in 2022?
df[['Country / Territory', 'CPI score 2022']].sort_values(by='CPI score 2022',ascending=False).head(5)

1   Country / Territory CPI score 2022
42              Denmark             90
55              Finland             87
116         New Zealand             87
121              Norway             84
154              Sweden             83

In [204]:
# Question 2: what five countries were most corrupt in 2022?
df.sort_values(by='CPI score 2022',ascending=True).head(5)[['Country / Territory','CPI score 2022']]

1   Country / Territory CPI score 2022
147             Somalia             12
156               Syria             13
149         South Sudan             13
175           Venezuela             14
177               Yemen             16

In [206]:
# Question 3 : Which region of the world was least corrupt?
regionGroup = df.groupby('Region')
regionGroup['CPI score 2022'].sum().sort_values(ascending=False).head(1)

Region
WE/EU    2031
Name: CPI score 2022, dtype: object

In [198]:
df12_22.columns = df12_22.loc[1]
df12_22.drop(index=[0,1],inplace=True)
df12_22.reset_index(inplace=True)

In [209]:
# Question 4 : which five countries have made the greatest improvement in 10 years
df12_22['diff'] = df12_22['CPI score 2022'] - df12_22['CPI Score 2012']
df12_22[['Country / Territory','diff']].sort_values(by='diff',ascending=False).head()

1   Country / Territory diff
142          Seychelles   18
0           Afghanistan   16
63               Greece   16
174          Uzbekistan   14
80                Italy   14